<div class="page-header">
  <h1>
    Lists
    <a href="/lists/new" class="btn btn-lg btn-success">New List</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "lists_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :listname_cont, "Listname contains" %>
    <%= f.text_field :listname_cont, :class => "form-control", :placeholder => "Listname contains" %>
  </div>

<div class="form-group">
    <%= f.label :liststatus_cont, "Liststatus contains" %>
    <%= f.text_field :liststatus_cont, :class => "form-control", :placeholder => "Liststatus contains" %>
  </div>

<div class="form-group">
          <%= f.label :listduedate, "Listduedate" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='listduedategteqPicker'>
                  <%= f.text_field :listduedate_gteq, :class => "form-control", :placeholder => "Listduedate greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='listduedatelteqPicker'>
                  <%= f.text_field :listduedate_lteq, :class => "form-control", :placeholder => "Listduedate less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#listduedategteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#listduedatelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#listduedategteqPicker').on("dp.change", function (e) {
                  $('#listduedatelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#listduedatelteqPicker').on("dp.change", function (e) {
                  $('#listduedategteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
    <%= f.label :listprioriti_cont, "Listprioriti contains" %>
    <%= f.text_field :listprioriti_cont, :class => "form-control", :placeholder => "Listprioriti contains" %>
  </div>

<div class="form-group">
    <%= f.label :listtype_cont, "Listtype contains" %>
    <%= f.text_field :listtype_cont, :class => "form-control", :placeholder => "Listtype contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
      <%= f.label :tasks_taskname_cont, "Task taskname contains" %>
      <%= f.text_field :tasks_taskname_cont, :class => "form-control", :placeholder => "Task taskname contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/lists" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#lists_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Listname</th>
        <th>Listtype</th>
        <th>Listprioriti</th>
        <th>Listduedate</th>
        <th>Liststatus</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @lists.each do |list| %>
      <tr>
        <td><%= list.listname %></td>
        <td><%= list.listtype %></td>
        <td><%= list.listprioriti %></td>
        <td><%= list.listduedate %></td>
        <td><%= list.liststatus %></td>
        <td>
          <% if list.user.present? %>
            <a href="/users/<%= list.user.id %>">
              <%= list.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/lists/<%= list.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == list.user %>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_list/<%= list.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @lists, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
