<div class="page-header">
  <h3>List #<%= @list.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @list.name %></dd>

      <dt>Category</dt>
      <dd><%= @list.category %></dd>

      <dt>Prioriti</dt>
      <dd><%= @list.prioriti %></dd>

      <dt>Duedate</dt>
      <dd><%= @list.duedate %></dd>

      <dt>Status</dt>
      <dd><%= @list.status %></dd>

      <dt>User</dt>
      <dd>
        <% if @list.user.present? %>
          <a href="/users/<%= @list.user_id %>">
            <%= @list.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lists" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @list.user %>
        <a href="/lists/<%= @list.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_list/<%= @list.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A List has many tasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tasks
      </li>

      <% @list.tasks.each do |task| %>
        <li class="list-group-item">
          <a href="/tasks/<%= task.id %>">
            <%= task.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tasks/<%= task.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tasks/<%= task.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_task/<%= task.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_task" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for prioriti -->
      <div class="form-group">
        <label for="prioriti" class="control-label">
          Prioriti
        </label>

        <input type="text" id="prioriti" name="prioriti" placeholder="Prioriti" class="form-control" value="">
      </div>

      <!-- Label and input for duedate -->
      <div class="form-group">
        <label for="duedate" class="control-label">
          Duedate
        </label>

        <input type="text" id="duedate" name="duedate" placeholder="Duedate" class="form-control" value="">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="">
      </div>

      <!-- Label and input for list_id -->
      <input type="hidden" name="list_id" value="<%= @list.id %>">

      <button class="btn btn-block btn-success">
        Create Task
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A List has many collaborations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Collaborations
      </li>

      <% @list.collaborations.each do |collaboration| %>
        <li class="list-group-item">
          <a href="/collaborations/<%= collaboration.id %>">
            <%= collaboration.list_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/collaborations/<%= collaboration.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/collaborations/<%= collaboration.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_collaboration/<%= collaboration.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_collaboration" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for list_id -->
      <input type="hidden" name="list_id" value="<%= @list.id %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Collaboration
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A List has many collaborators -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Collaborators
      </li>

      <% @list.collaborators.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
