<div class="page-header">
  <h3>List #<%= @list.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Listname</dt>
      <dd><%= @list.listname %></dd>

      <dt>Listtype</dt>
      <dd><%= @list.listtype %></dd>

      <dt>Listprioriti</dt>
      <dd><%= @list.listprioriti %></dd>

      <dt>Listduedate</dt>
      <dd><%= @list.listduedate %></dd>

      <dt>Liststatus</dt>
      <dd><%= @list.liststatus %></dd>

      <dt>User</dt>
      <dd><%= @list.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lists" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @list.user %>
        <a href="/lists/<%= @list.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_list/<%= @list.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A List has many tasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tasks
      </li>

      <% @list.tasks.each do |task| %>
        <li class="list-group-item">
          <a href="/tasks/<%= task.id %>">
            <%= task.taskname %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tasks/<%= task.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tasks/<%= task.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_task/<%= task.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_task" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for taskname -->
      <div class="form-group">
        <label for="taskname" class="control-label">
          Taskname
        </label>

        <input type="text" id="taskname" name="taskname" placeholder="Taskname" class="form-control" value="">
      </div>

      <!-- Label and input for taskprioriti -->
      <div class="form-group">
        <label for="taskprioriti" class="control-label">
          Taskprioriti
        </label>

        <input type="text" id="taskprioriti" name="taskprioriti" placeholder="Taskprioriti" class="form-control" value="">
      </div>

      <!-- Label and input for taskduedate -->
      <div class="form-group">
        <label for="taskduedate" class="control-label">
          Taskduedate
        </label>

        <input type="text" id="taskduedate" name="taskduedate" placeholder="Taskduedate" class="form-control" value="">
      </div>

      <!-- Label and input for taskstatus -->
      <div class="form-group">
        <label for="taskstatus" class="control-label">
          Taskstatus
        </label>

        <input type="text" id="taskstatus" name="taskstatus" placeholder="Taskstatus" class="form-control" value="">
      </div>

      <!-- Label and input for list_id -->
      <input type="hidden" name="list_id" value="<%= @list.id %>">

      <button class="btn btn-block btn-success">
        Create Task
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A List has many collaborators -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Collaborators
      </li>

      <% @list.collaborators.each do |collaborator| %>
        <li class="list-group-item">
          <a href="/collaborators/<%= collaborator.id %>">
            <%= collaborator.list_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/collaborators/<%= collaborator.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/collaborators/<%= collaborator.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_collaborator/<%= collaborator.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_collaborator" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for list_id -->
      <input type="hidden" name="list_id" value="<%= @list.id %>">

      <button class="btn btn-block btn-success">
        Create Collaborator
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
