<div class="page-header">
  <h1>
    Tasks
    <a href="/tasks/new" class="btn btn-lg btn-success">New Task</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "tasks_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
    <%= f.label :status_cont, "Status contains" %>
    <%= f.text_field :status_cont, :class => "form-control", :placeholder => "Status contains" %>
  </div>

<div class="form-group">
          <%= f.label :duedate, "Duedate" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='duedategteqPicker'>
                  <%= f.text_field :duedate_gteq, :class => "form-control", :placeholder => "Duedate greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='duedatelteqPicker'>
                  <%= f.text_field :duedate_lteq, :class => "form-control", :placeholder => "Duedate less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#duedategteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#duedatelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#duedategteqPicker').on("dp.change", function (e) {
                  $('#duedatelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#duedatelteqPicker').on("dp.change", function (e) {
                  $('#duedategteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
    <%= f.label :prioriti_cont, "Prioriti contains" %>
    <%= f.text_field :prioriti_cont, :class => "form-control", :placeholder => "Prioriti contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :list_name_cont, "List name contains" %>
      <%= f.text_field :list_name_cont, :class => "form-control", :placeholder => "List name contains" %>
    </div>

<div class="form-group">
      <%= f.label :subtasks_name_cont, "Subtask name contains" %>
      <%= f.text_field :subtasks_name_cont, :class => "form-control", :placeholder => "Subtask name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/tasks" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#tasks_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Prioriti</th>
        <th>Duedate</th>
        <th>Status</th>
        <th>List</th>
        <th>Actions</th>
      </tr>

      <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.prioriti %></td>
        <td><%= task.duedate %></td>
        <td><%= task.status %></td>
        <td>
          <% if task.list.present? %>
            <a href="/lists/<%= task.list.id %>">
              <%= task.list.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/tasks/<%= task.id %>" class="btn btn-primary">Show</a>
          <a href="/tasks/<%= task.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_task/<%= task.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
