<div class="page-header">
  <h3>Task #<%= @task.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Taskname</dt>
      <dd><%= @task.taskname %></dd>

      <dt>Taskprioriti</dt>
      <dd><%= @task.taskprioriti %></dd>

      <dt>Taskduedate</dt>
      <dd><%= @task.taskduedate %></dd>

      <dt>Taskstatus</dt>
      <dd><%= @task.taskstatus %></dd>

      <dt>List</dt>
      <dd><%= @task.list_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Task has many subtasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Subtasks
      </li>

      <% @task.subtasks.each do |subtask| %>
        <li class="list-group-item">
          <a href="/subtasks/<%= subtask.id %>">
            <%= subtask.subtaskname %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/subtasks/<%= subtask.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/subtasks/<%= subtask.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_subtask/<%= subtask.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_subtask" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for subtaskname -->
      <div class="form-group">
        <label for="subtaskname" class="control-label">
          Subtaskname
        </label>

        <input type="text" id="subtaskname" name="subtaskname" placeholder="Subtaskname" class="form-control" value="">
      </div>

      <!-- Label and input for subtaskprioriti -->
      <div class="form-group">
        <label for="subtaskprioriti" class="control-label">
          Subtaskprioriti
        </label>

        <input type="text" id="subtaskprioriti" name="subtaskprioriti" placeholder="Subtaskprioriti" class="form-control" value="">
      </div>

      <!-- Label and input for subtaskduedate -->
      <div class="form-group">
        <label for="subtaskduedate" class="control-label">
          Subtaskduedate
        </label>

        <input type="text" id="subtaskduedate" name="subtaskduedate" placeholder="Subtaskduedate" class="form-control" value="">
      </div>

      <!-- Label and input for subtaskstatus -->
      <div class="form-group">
        <label for="subtaskstatus" class="control-label">
          Subtaskstatus
        </label>

        <input type="text" id="subtaskstatus" name="subtaskstatus" placeholder="Subtaskstatus" class="form-control" value="">
      </div>

      <!-- Label and input for task_id -->
      <input type="hidden" name="task_id" value="<%= @task.id %>">

      <button class="btn btn-block btn-success">
        Create Subtask
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
