<div class="page-header">
  <h3>Task #<%= @task.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @task.name %></dd>

      <dt>Prioriti</dt>
      <dd><%= @task.prioriti %></dd>

      <dt>Duedate</dt>
      <dd><%= @task.duedate %></dd>

      <dt>Status</dt>
      <dd><%= @task.status %></dd>

      <dt>List</dt>
      <dd>
        <% if @task.list.present? %>
          <a href="/lists/<%= @task.list_id %>">
            <%= @task.list.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Task has many subtasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Subtasks
      </li>

      <% @task.subtasks.each do |subtask| %>
        <li class="list-group-item">
          <a href="/subtasks/<%= subtask.id %>">
            <%= subtask.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/subtasks/<%= subtask.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/subtasks/<%= subtask.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_subtask/<%= subtask.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_subtask" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for prioriti -->
      <div class="form-group">
        <label for="prioriti" class="control-label">
          Prioriti
        </label>

        <input type="text" id="prioriti" name="prioriti" placeholder="Prioriti" class="form-control" value="">
      </div>

      <!-- Label and input for duedate -->
      <div class="form-group">
        <label for="duedate" class="control-label">
          Duedate
        </label>

        <input type="text" id="duedate" name="duedate" placeholder="Duedate" class="form-control" value="">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="">
      </div>

      <!-- Label and input for task_id -->
      <input type="hidden" name="task_id" value="<%= @task.id %>">

      <button class="btn btn-block btn-success">
        Create Subtask
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
