<!-- Validation failure messages -->
<% if @collaborator.errors.any? %>
  <% @collaborator.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Collaborator #<%= @collaborator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_collaborator/<%= @collaborator.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for list_id -->
      <div class="form-group">
        <label for="list_id" class="control-label">
          List
        </label>

        <input type="text" id="list_id" name="list_id" placeholder="List" class="form-control" value="<%= @collaborator.list_id %>">
      </div>

      <button class="btn btn-warning">
        Update Collaborator
      </button>
      or
      <a href="/collaborators/<%= @collaborator.id %>">Cancel</a>
    </form>
  </div>
</div>
