<div class="page-header">
  <h3>Collaboration #<%= @collaboration.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>List</dt>
      <dd>
        <% if @collaboration.list.present? %>
          <a href="/lists/<%= @collaboration.list_id %>">
            <%= @collaboration.list.name %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @collaboration.user.present? %>
          <a href="/users/<%= @collaboration.user_id %>">
            <%= @collaboration.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/collaborations" class="btn btn-primary">
        Back
      </a>
      <a href="/collaborations/<%= @collaboration.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_collaboration/<%= @collaboration.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
